.tag {
    justify-content: flex-start;
    position: relative;
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    padding: 0.1rem 0.8rem;
    background-color: var(--jiffyui-naturalLight-200);
    border-radius: 0.4rem;
    color: var(--jiffyui-naturalDark-1000);

    .tag-label {
        display: inline-block;
        vertical-align: middle;
    }

    .tag-clear {
        cursor: pointer;
        border-radius: 0.4rem;
        transition: 0.3s all;
        text-align: center;
        display: block;
        height: 2rem;
        width: 2rem;
        max-height: 100%;
        max-width: 100%;
        margin-left: 0.5rem;
    }

    .tag-clear:hover {
        background-color: var(--jiffyui-naturalLight-300);
    }
    
    .tag-clear svg {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.tag.hasDismis {
    padding-right: 0.4rem;
}

// small
.tag.tag--small {
    height: 1.6rem;

    span.tag-label {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    span.tag-clear {
        height: 1.2rem;
        width: 1.2rem;
        padding: 0;
        border-radius: 0.1rem;
    }
}

// medium
.tag.tag--medium {
    height: 2rem;

    span.tag-label {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    span.tag-clear {
        height: 1.4rem;
        width: 1.4rem;
        padding: 0;
        border-radius: 0.3rem;
    }
}

// large 
.tag.tag--large {
    height: 2.4rem;

    .tag-label {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    .tag-clear {
        height: 1.8rem;
        width: 1.8rem;
        padding: 0.1rem;
    }
}
