/*Toast*/
.Pixel-toast-wrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 99999999;
}
.Pixel-toast {
  display: flex;
  gap: 3.8rem;
  margin-top: 1.5rem;
  padding: 0.8rem 1.2rem;
  align-items: center;
  color: #ffffff;
  border-radius: 0.4rem;
  justify-content: space-between;
  max-width: 60rem;
  min-width: 20rem;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  overflow: hidden;
}
.Pixel-toast--positive {
  background: #2f4256;
  border-top: 1px solid #243547;
}
.Pixel-toast--notice {
  background: #00a251;
  border-top: 1px solid #008743;
}
.Pixel-toast--neutral {
  background: #d92d20;
  border-top: 1px solid #b42318;
}
.Pixel-toast--negative {
  background: #e9690c;
  border-top: 1px solid #c65c10;
}
.Pixel-toast--information {
  background: #1291d0;
  border-top: 1px solid #0f78ad;
}
.Pixel-toast--in {
  -webkit-animation-name: toastAnimation;
  animation-name: toastAnimation;
  transform-origin: bottom top;
}
.Pixel-toast--out {
  -webkit-animation-name: toastAnimationOut;
  animation-name: toastAnimationOut;
  transform-origin: top bottom;
}
.Pixel-toast__contentWrapper {
  display: flex;
  gap: 0.8rem;
}
.Pixel-toast__msg {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  line-height: 2rem;
}
.Pixel-toast__msg :nth-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}
.Pixel-toast .Pixel-flex > div:first-child {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.4rem;
}
.Pixel-toast__close {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Pixel-toast__action button{
  color: rgb(255, 255, 255);
  min-height: 28px;
  width: auto;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 255, 255, 0.18);
  border-width: 0px;
  border-radius: 4px;
  border-style: solid;
  padding: 0px 8px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  display: inline-flex;
  font-weight: 500;
}

.Pixel-toast__actionContainer {
  display: flex;
  gap: 1.2rem;
  margin-left: auto;
}

/*Toast End*/
@keyframes toastProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes toastAnimation {
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 0.8rem 1.2rem;
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 1.2rem;
    opacity: 0;
  }
}
@-webkit-keyframes toastAnimation {
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 0.8rem 1.2rem;
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 1.2rem;
    opacity: 0;
  }
}
@keyframes toastAnimationOut {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 0.8rem 1.2rem;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 1.2rem;
    opacity: 0;
  }
}
@-webkit-keyframes toastAnimationOut {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 0.8rem 1.2rem;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 1.2rem;
    opacity: 0;
  }
}
