.jiffyui-indicator {
    display: inline-flex;
    align-items: center;
}
span.jiffyui-indicator-dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: var(--jiffyui-naturalDark-1300);
    border-radius: 100%;
   
    vertical-align: middle;
}
.jiffyui-indicator .jiffyui-indicator-label {
    color: var(--jiffyui-naturalDark-1100);
    margin-left: 0.5rem;
}
.jiffyui-indicator--possitive .jiffyui-indicator-dot {
    background-color: var(--jiffyui-Possitive-600);
}
.jiffyui-indicator--negative .jiffyui-indicator-dot {
    background-color: var(--jiffyui-Negative-600);
}
.jiffyui-indicator--waiting .jiffyui-indicator-dot {
    background-color: var(--jiffyui-Notice-400);
}

.jiffyui-indicator--primary .jiffyui-indicator-dot {
    background-color: var(--jiffyui-Cerulean-600);
}

// size 
.jiffyui-indicator--small .jiffyui-indicator-dot {
    height: 6px;
    width: 6px;
}
.jiffyui-indicator--small .jiffyui-indicator-label {
    font-size: 10px;
}
.jiffyui-indicator--medium  .jiffyui-indicator-dot {
    width: 8px;
    height: 8px;
}
.jiffyui-indicator--medium  .jiffyui-indicator-label {
    font-size: 12px;
}
.jiffyui-indicator--large  .jiffyui-indicator-dot {
    width: 10px;
    height: 10px;
}
.jiffyui-indicator--large  .jiffyui-indicator-label {
    font-size: 14px;
}

.jiffyui-indicator.has-string .jiffyui-indicator-dot {
    width: auto !important;
    height: auto !important;
    min-width: 20px !important;
    min-height: 15px !important;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 3px;
    line-height: normal;
}