/* Padding start */
.pt-0 {
  padding-top: 0;
}

.pt-4 {
  padding-top: 0.4rem;
}

.pt-8 {
  padding-top: 0.8rem;
}

.pt-12 {
  padding-top: 1.2rem;
}

.pt-16 {
  padding-top: 1.6rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pt-28 {
  padding-top: 2.8rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-4 {
  padding-right :0.4rem;
}

.pr-8 {
  padding-right :0.8rem;
}

.pr-12 {
  padding-right: 1.2rem;
}

.pr-16 {
  padding-right: 1.6rem;
}

.pr-20 {
  padding-right: 2rem;
}

.pr-24 {
  padding-right: 2.4rem;
}

.pr-28 {
  padding-right: 2.8rem;
}

.pr-40 {
  padding-right: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-4 {
  padding-left: 0.4rem;
}

.pl-8 {
  padding-left: 0.8rem;
}

.pl-12 {
  padding-left: 1.2rem;
}

.pl-16 {
  padding-left: 1.6rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pl-24 {
  padding-left: 2.4rem;
}

.pl-28 {
  padding-left: 2.8rem;
}

.pl-40 {
  padding-left: 4rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-4 {
  padding-bottom: 0.4rem;
}

.pb-8 {
  padding-bottom: 0.8rem;
}

.pb-12 {
  padding-bottom: 1.2rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pb-28 {
  padding-bottom: 2.8rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.2rem;
}

.p-4 {
  padding: 0.4rem;
}

.p-6 {
  padding: 0.6rem;
}

.p-8 {
  padding: 0.8rem;
}

.p-10 {
  padding: 1rem;
}

.p-12 {
  padding: 1.2rem;
}

.p-14 {
  padding: 1.4rem;
}

.p-16 {
  padding: 1.6rem;
}

.p-18 {
  padding: 1.8rem;
}

.p-20 {
  padding: 2rem;
}

.p-24 {
  padding: 2.4rem;
}

.p-28 {
  padding: 2.8rem;
}

.p-32 {
  padding: 3.2rem;
}

.p-36 {
  padding: 3.6rem;
}

.p-40 {
  padding: 4rem;
}

/* padding end */

/* Margin start*/
.mt-0 {
  margin: 0;
}

.mt-4 {
  margin-top: 0.4rem;
}

.mt-8 {
  margin-top: 0.8rem;
}

.mt-12 {
  margin-top: 1.2rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-28 {
  margin-top: 2.8rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 0.4rem;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-28 {
  margin-bottom: 2.8rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.m-4 {
  margin: 0.4rem;
}

.m-6 {
  margin: 0.6rem;
}

.m-8 {
  margin: 0.8rem;
}

.m-10 {
  margin: 1rem;
}

.m-12 {
  margin: 1.2rem;
}

.m-14 {
  margin: 1.4rem;
}

.m-16 {
  margin: 1.6rem;
}

.m-18 {
  margin: 1.8rem;
}

.m-20 {
  margin: 2rem;
}

.m-24 {
  margin: 2.4rem;
}

.m-28 {
  margin: 2.8rem;
}

.m-32 {
  margin: 3.2rem;
}

.m-36 {
  margin: 3.6rem;
}

.m-40 {
  margin: 4rem;
}

.ml-2 {
  margin-left: 0.2rem;
}

.ml-4 {
  margin-left: 0.4rem;
}

.ml-6 {
  margin-left: 0.6rem;
}

.ml-8 {
  margin-left: 0.8rem;
}

.ml-10 {
  margin-left: 1rem;
}

.ml-12 {
  margin-left: 1.2rem;
}

.ml-14 {
  margin-left: 1.4rem;
}

.ml-16 {
  margin-left: 1.6rem;
}

.ml-18 {
  margin-left: 1.8rem;
}

.ml-20 {
  margin-left: 2rem;
}
.mr-4 {
  margin-right: 0.4rem;
}

/* margin end */
/* Typography */
.font-size-12 {
  font-size: 1.2rem;
}

/* 12px */
.font-size-14 {
  font-size: 1.4rem;
}

/* 14px */
.font-size-16 {
  font-size: 1.6rem;
}

/* 16px */
.font-size-18 {
  font-size: 1.8rem;
}

/* 18px */
.font-size-20 {
  font-size: 2rem;
}

/* 20px */
.font-size-24 {
  font-size: 2.4rem;
}

/* 24px */
.font-size-30 {
  font-size: 3rem;
}

/* 30px */
.font-size-36 {
  font-size: 3.6rem;
}

/* 36px */
.font-size-48 {
  font-size: 4.8rem;
}

/* 48px */
.font-size-60 {
  font-size: 6rem;
}

/* 60px */
.line-height-10 {
  line-height: 1rem;
}

.line-height-12 {
  line-height: 1.2rem;
}

.line-height-14 {
  line-height: 1.4rem;
}

.line-height-16 {
  line-height: 1.6rem;
}

.line-height-18 {
  line-height: 1.8rem;
}

.line-height-20 {
  line-height: 2rem;
}

.line-height-22 {
  line-height: 2.2rem;
}

.line-height-24 {
  line-height: 2.4rem;
}

.line-height-28 {
  line-height: 2.8rem;
}

.line-height-32 {
  line-height: 3.2rem;
}

.line-height-36 {
  line-height: 3.6rem;
}

.line-height-40 {
  line-height: 4rem;
}

/* Width and Height */
.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.min-w-0 {
  min-width: 0;
}

.min-h-0 {
  min-height: 0;
}

.max-w-full {
  max-width: 100%;
}

.max-h-full {
  max-height: 100%;
}

/* Borders */
.outline-none {
  outline: none;
}
.border-none {
  border: none;
}
.border-rounded-10 {
  border-radius: 1rem;
}

.border-rounded-12 {
  border-radius: 1.2rem;
}

.border-rounded-16 {
  border-radius: 1.6rem;
}

.border-rounded-20 {
  border-radius: 2rem;
}

.border-rounded-24 {
  border-radius: 2.4rem;
}

.border-rounded-28 {
  border-radius: 2.8rem;
}

.border-rounded-32 {
  border-radius: 3.2rem;
}

.border-rounded-40 {
  border-radius: 4rem;
}

.border-rounded-full {
  border-radius: 9999px;
}

/* font-weight */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

/* gap */
.flex-row.gap-2 > .flex-item {
  padding-left: 1px;
  padding-right: 1px;
}
.flex-row.gap-2 {
  margin-left: -1px;
  margin-right: -1px;
}
.flex-row.gap-4 > .flex-item {
  padding-left: 2px;
  padding-right: 2px;
}
.flex-row.gap-4 {
  margin-left: -2px;
  margin-right: -2px;
}
.flex-row.gap-6 > .flex-item {
  padding-left: 3px;
  padding-right: 3px;
}
.flex-row.gap-6 {
  margin-left: -3px;
  margin-right: -3px;
}
.flex-row.gap-8 > .flex-item {
  padding-left: 4px;
  padding-right: 4px;
}
.flex-row.gap-8 {
  margin-left: -4px;
  margin-right: -4px;
}
.flex-row.gap-10 > .flex-item {
  padding-left: 5px;
  padding-right: 5px;
}
.flex-row.gap-10 {
  margin-left: -5px;
  margin-right: -5px;
}
.flex-row.gap-12 > .flex-item {
  padding-left: 6px;
  padding-right: 6px;
}
.flex-row.gap-12 {
  margin-left: -6px;
  margin-right: -6px;
}
.flex-row.gap-14 > .flex-item {
  padding-left: 7px;
  padding-right: 7px;
}
.flex-row.gap-14 {
  margin-left: -7px;
  margin-right: -7px;
}
.flex-row.gap-16 > .flex-item {
  padding-left: 8px;
  padding-right: 8px;
}
.flex-row.gap-16 {
  margin-left: -8px;
  margin-right: -8px;
}
.flex-row.gap-18 > .flex-item {
  padding-left: 9px;
  padding-right: 9px;
}
.flex-row.gap-18 {
  margin-left: -9px;
  margin-right: -9px;
}
.flex-row.gap-20 > .flex-item {
  padding-left: 10px;
  padding-right: 10px;
}
.flex-row.gap-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.flex-row.gap-22 > .flex-item {
  padding-left: 11px;
  padding-right: 11px;
}
.flex-row.gap-22 {
  margin-left: -11px;
  margin-right: -11px;
}
.flex-row.gap-24 > .flex-item {
  padding-left: 12px;
  padding-right: 12px;
}
.flex-row.gap-24 {
  margin-left: -12px;
  margin-right: -12px;
}
.flex-row.gap-26 > .flex-item {
  padding-left: 13px;
  padding-right: 13px;
}
.flex-row.gap-26 {
  margin-left: -13px;
  margin-right: -13px;
}
.flex-row.gap-28 > .flex-item {
  padding-left: 14px;
  padding-right: 14px;
}
.flex-row.gap-28 {
  margin-left: -14px;
  margin-right: -14px;
}
.flex-row.gap-32 > .flex-item {
  padding-left: 16px;
  padding-right: 16px;
}
.flex-row.gap-32 {
  margin-left: -16px;
  margin-right: -16px;
}
.flex-row.gap-36 > .flex-item {
  padding-left: 18px;
  padding-right: 18px;
}
.flex-row.gap-36 {
  margin-left: -18px;
  margin-right: -18px;
}
.flex-row.gap-40 > .flex-item {
  padding-left: 20px;
  padding-right: 20px;
}
.flex-row.gap-40 {
  margin-left: -20px;
  margin-right: -20px;
}

.flex-Container.gap-2 {
  padding-left: 1px;
  padding-right: 1px;
}
.flex-Container.gap-4 {
  padding-left: 2px;
  padding-right: 2px;
}
.flex-Container.gap-6 {
  padding-left: 3px;
  padding-right: 3px;
}
.flex-Container.gap-8 {
  padding-left: 4px;
  padding-right: 4px;
}
.flex-Container.gap-10 {
  padding-left: 5px;
  padding-right: 5px;
}
.flex-Container.gap-12 {
  padding-left: 6px;
  padding-right: 6px;
}
.flex-Container.gap-14 {
  padding-left: 7px;
  padding-right: 7px;
}
.flex-Container.gap-16 {
  padding-left: 8px;
  padding-right: 8px;
}
.flex-Container.gap-18 {
  padding-left: 9px;
  padding-right: 9px;
}
.flex-Container.gap-20 {
  padding-left: 10px;
  padding-right: 10px;
}
.flex-Container.gap-22 {
  padding-left: 11px;
  padding-right: 11px;
}
.flex-Container.gap-24 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex-Container.gap-26 {
  padding-left: 13px;
  padding-right: 13px;
}
.flex-Container.gap-28 {
  padding-left: 14px;
  padding-right: 14px;
}
.flex-Container.gap-32 {
  padding-left: 16px;
  padding-right: 16px;
}

.flex-Container.gap-36 {
  padding-left: 18px;
  padding-right: 18px;
}
.flex-Container.gap-40 {
  padding-left: 20px;
  padding-right: 20px;
}

.gap-2 {
  gap: 0.2rem;
}
.gap-4 {
  gap: 0.4rem;
}
.gap-6 {
  gap: 0.6rem;
}
.gap-8 {
  gap: 0.8rem;
}
.gap-10 {
  gap: 1rem;
}
.gap-12 {
  gap: 1.2rem;
}
.gap-14 {
  gap: 1.4rem;
}
.gap-15 {
  gap: 1.5rem;
}
.gap-16 {
  gap: 1.6rem;
}
.gap-18 {
  gap: 1.8rem;
}
.gap-20 {
  gap: 2rem;
}
.gap-22 {
  gap: 2.2rem;
}
.gap-24 {
  gap: 2.4rem;
}
.gap-26 {
  gap: 2.6rem;
}
.gap-28 {
  gap: 2.8rem;
}
.gap-32 {
  gap: 3.2rem;
}
.gap-36 {
  gap: 3.6rem;
}
.gap-40 {
  gap: 4rem;
}

.z-index-0 {
  z-index: 0;
}
.z-index-100 {
  z-index: 100;
}
.z-index-200 {
  z-index: 200;
}
.z-index-300 {
  z-index: 300;
}
.z-index-400 {
  z-index: 400;
}
.z-index-500 {
  z-index: 500;
}
.z-index-600 {
  z-index: 600;
}
.z-index-700 {
  z-index: 700;
}
.z-index-800 {
  z-index: 800;
}
.z-index-900 {
  z-index: 900;
}
.z-index-1000 {
  z-index: 1000;
}
/* Flexbox */
.v-visible {
  visibility: visible;
}
.v-hidden {
  visibility: hidden;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.flex-direction_row {
  flex-direction: row;
}

.flex-direction_column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.c-pointer {
  cursor: pointer;
}

.c-default {
  cursor: default;
}

.position-fixed {
  position: fixed;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-sticky {
  position: sticky;
}

.bg-white {
  background-color: #ffffff;
}
.bg-transparent {
  background-color: transparent;
}

.text-center {
  text-align: center;
}