.progress {
    background: var(--jiffyui-naturalLight-300);
    height: 8px;
    border-radius: 5px;
    position: relative;
    margin-top: 3rem;
}

.progress-inner {
    background: var(--jiffyui-naturalDark-1300);
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: 0.3s all;
}

label.progress-label {
    position: absolute;
    bottom: calc(100% + 0.5rem);
    transition: 0.3s all;
    display: inline-block;
    word-break: break-word;
    color: var(--jiffyui-naturalDark-1300);
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: var(--jiffyui-regular-font);
    width: max-content;
}

.progress-val {
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px);
    font-size: 1.4rem;
    border-radius: 4px;
    color: var(--jiffyui-naturalDark-1300);
    transition: 0.3s all;
}

.progress--possitive .progress-inner {
    background: var(--jiffyui-Possitive-600);
}

.progress--negative .progress-inner {
    background-color: var(--jiffyui-Negative-600);
}

.progress--notice .progress-inner {
    background-color: var(--jiffyui-Notice-400);
}

.progress--primary .progress-inner {
    background-color: var(--jiffyui-Cerulean-600);
}

.progress--neutral .progress-inner {
    background-color: var(--jiffyui-naturalDark-1300);
}

.progress.progress--small {
    height: 0.4rem;
}

.progress.progress--medium {
    height: 0.6rem;
}

.progress.progress--large {
    height: 0.8rem;
}

// .progress-val {
//     position: absolute;
//     background: #fff;
//     border: 1px solid #e4e4e4;
//     font-size: 10px;
//     padding: 4px 5px;
//     top: -50%;
//     transform: translateX(-50%);
// }